[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzbar = "*"
pillow = "*"
pycryptodome = "*"
opencv-python = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
test = "python example.py"
decrypt = "python decrypt.py"